<html>
	<body>
		<h4>
			%title%
		</h4>
		<form><!-- 기본 action :  -->
			min : <input type="number" name="minDan" value="%minDan%"/>
			max : <input type="number" name="maxDan" value="%maxDan%"/>
			<input type="submit" value="전송" />
		</form>
		<table>
			%gugudanTrTags%		
		</table>
	</body>

</html>