<html>
	<style type="text/css">
		body{
			background-color: pink;
		}
	</style>
	<script type="text/javascript" src = "https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script type="text/javascript">
		/*function changeCallback(event){
		console.log(event);
			console.log(event.target.value);
			location.href="/webStudy01/imageView.do?image="+event.target.value; //request - line, header, body
		}*/		
		$(function(){
			$("select").on("change", function(event){ //callback 메서드
				let imageName = $(this).val();
				//<img src="../imageView.do?image="/>
				$("#imageArea").html(
					$("<img>").attr("src", "../imageView.do?image="+imageName) //이미지 태그를 하나 만들겠다.
				); 
			});
		});
	</script>
	<body>
		<h4>%title%</h4>
		<h4>%today%</h4>
		<select>
			%optionData%
		</select>
		<div id="imageArea">
			
		</div>
	</body>
</html>

