<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>webStudy01</display-name>
  <welcome-file-list>
    <welcome-file>index.do</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contentFolder</param-name>
    <param-value>d:/contents</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.tiles.web.startup.simple.SimpleTilesListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>TilesDispatchServlet</servlet-name>
    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TilesDispatchServlet</servlet-name>
    <url-pattern>*.tiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageListServlet</servlet-name>
    <servlet-class>kr.or.ddit.servlet01.ImageListServlet</servlet-class>
    <init-param>
      <param-name>contentFolder</param-name>
      <param-value>d:/contents</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageListServlet</servlet-name>
    <url-pattern>/01/imageList.tmpl</url-pattern>
  </servlet-mapping>
  <!-- <session-config>
    <session-timeout>2</session-timeout>
  </session-config> -->
</web-app>