<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
<!-- appender : where -->
<!-- message : what -->
<!-- layout : how -->
<!-- logger : who(전달자) -->
<!-- level : logging event 등급 debug-> info-> warn-> error-> fatal -->
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{{1.1.~.~}} - %msg%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="kr.or.ddit" level="info" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.sqltiming" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Logger name="jdbc.resultsettable" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
    <Root level="error">
      <AppenderRef ref="Console"/>
    </Root>
  </Loggers>
</Configuration>